@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body{
    background-color: #192547;
    color:floralwhite;
    direction:flex;
    flex-direction: column;
    font-family:'Roboto Condensed',sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid whitesmoke;
    margin: 0px 400px;
    border-radius: 2%;
    font-family:'Roboto Condensed',sans-serif;
    font-weight: 700;
    padding:0px 5px;
    margin-top: 20px;

    text-wrap:wrap;
    
}

.score,.main-body,.footer,.top,.Row1,.logo{
    display:flex;
   
}

.header>.score{
    /* background-color: whitesmoke; */
    
   
    color: blue;
}
.human-score,.comp-score{
    text-align: center;
    color: #192547;
    background-color: rgb(255, 255, 255);
    padding:15px 30px;
    margin: 8px 4px;
    border-radius:3px;
   
}
.human-score{
    padding: 15px 41px;

}
.title,.three{
    display: flex;
    flex-direction: column;
}

.player,.computer{
    margin-bottom: 10px;
    color: rgb(60, 55, 200);
}
.no{
    font-size: xx-large;
}

.main-body{
    margin: 50px 270px;
    justify-content: space-between;
    flex: 1 0 0;
}

.footer{
    justify-content:center;
    align-items:end;
    align-self: flex-end;

}

.rules,.reset{
    padding:10px 30px;
    background-color: #192547;
    color:floralwhite;
    border: 2px solid white;
    border-radius: 7px;
    margin: 0px 4px;
    cursor: pointer;
}

.symbol{
    width:200px;
    height:200px;
    background-color: whitesmoke;
    border: 30px solid blue;
    border-radius: 50%;
    margin-top:20px
}
.end-screen{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.human-choice,.comp-choice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.play-again{
    font-size: 15px;
    margin-top:20px;
    background-color: white;
    color: #192547;
    padding:8px 50px;
    border-radius: 3px;
    cursor: pointer;
}
.name{
    font-size: 20px;
}
.image{
  
    object-fit:contain;
    width:100%; 
    height:100%;
   
}
.inverted{
    transform: scaleX(-1);
}

.overlay{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgb(0,0,0,0);
    /* opacity: 50%; */
    z-index: 10;
    pointer-events: none;
    transition: 200ms ease-in-out;

}

.overlay.active{
    pointer-events: all;
    background-color: rgb(0,0,0,0.5);
}
.modal{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50% )scale(0);
    max-width: 80%;
    max-height: 50%;
    width:500px;
    transition: 200ms ease-in-out;
    height: 400px;
    background-color: #192547;
    z-index: 11;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    }

.choices{
    margin-top: 20px;
    display: flex;

}
.modal .title{
    text-align: center;
    font-size: 40px;
    color: white;
    padding-bottom: 10px;
    margin:10px 10px;
    border-bottom: 1px solid white;

}
.modal .button :hover {
    border: 1px solid white;   
    border-radius: 8px;
}

.modal .button{
/* 
    border: 1px solid white; */
    margin: 5px 12px;
    cursor: pointer;
    width: 200px;
    height: 200px;
    padding:10px 5px;
    

}

.modal.active{

    transform: translate(-50%,-50% )scale(1);
 
}

.footerbuttons{
    display: flex;
    
    
    
}
.footer{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.logo img{  
    width: 20%;
    height: 20%;
    object-fit: contain;
    margin: 0px auto;
    margin-top: 10px;


}
.git:hover{
    transform: rotate(360deg);
    transition: transform .7s;
}



